[user]
	name = Iain Reid
	email = iainreid382@gmail.com
	
[core]
	editor = vim -c "star!"
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
	filemode = false
	hookspath = ~/.git-templates/hooks
	
[alias]
	aa = add --all
	ai = add -i
	amend = commit --amend
	b = branch -vv
	ba = branch -avv
	bd = branch -d
	br = branch -rvv
	ci = commit
	cl = clone
	co = checkout
	d = diff --word-diff --ignore-space-change --color-words --ignore-blank-lines
	dc = diff --cached
	dfw = diff --ignore-space-change
	dlc = diff --cached HEAD^
	fl = log -u
	graph = log --graph
	l = log --pretty=format:'%C(yellow)%h%Creset\t%C(green)%ai%Creset\t%C(blue)%an%Creset » %s %C(yellow)%d%Creset' --decorate  --date=short
	ll = log --stat --abbrev-commit
	m = merge
	purr = pull --rebase
	sa = stash apply
	sd = stash drop
	sl = stash list
	ss = stash save
	st = status -sb
	standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday
	tree = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset' --date=short

[color]
	ui = auto

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[diff]
	tool = vimdiff

[gitflow "prefix"]
	feature = feature/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = v
	
[github]
	user = iainreid820
	
[init]
	templatedir = ~/.git-templates
	
[push]
	default = simple
