/*
 * Not all elements in the toolbar have a background colour, which causes an
 * issue when defining the fixed position below. So here I'm just placing down
 * a base colour to remove any transparent artifacts.
 */
#titlebar {
  background-color: #242424;
}

#navigator-toolbox {
  position: fixed !important;
  display: flex;
  flex-direction: column;
  margin: 8px;
  clip-path: inset(0 calc(100% - 12px) calc(100% - 12px) 0 round 6px);
  transition: 0.2s ease-out 1s;
}

#navigator-toolbox:hover {
  clip-path: inset(0px round 4px);
  transition: 0.2s ease-out;
}

#nav-bar, #nav-bar-customization-target {
  width: 100%;
  display: flex;
  align-items: center;
}


/*
 * I rarely use the window controls, and prefer to have extensions kept out of
 * the way, so this block hides these items from the toolbar.
 */
hbox.titlebar-spacer, hbox.titlebar-buttonbox-container, #titlebar-secondary-buttonbox {
  display: none !important;
}

#titlebar-buttonbox-container {
  position: fixed;
  top: 0;
  left: 0;
}

/*
 * Given the fact that I'm using flex to position the parent elements, this
 * block ensures that the URL bar fills all of the available space.
 */
#urlbar-container, #urlbar {
  width: 100% !important;
}

#stop-reload-button {
  margin-top: 3px;
}

